<h1>node-api</h1>
<p>you can make https request to work with the api endpoints</p>
<P>GET <a href="https://node-api-3m9u.onrender.com/api/genres">/api/genres</a> : list of movies genres</P>
<p>GET <a href="https://node-api-3m9u.onrender.com/api/users">api/users</a> : list of all users only if authorized</p>
<p>POST <a href="https://node-api-3m9u.onrender.com/api/users">/api/users</a> : create new user with email and passwords
</p>